.sidebar{
  width:250px;
  background:#1f2937;
  min-height:100vh;
  color:white;
  padding:20px;
}

.module{
  margin-bottom:20px;
}

a{
  display:block;
  color:white;
  text-decoration:none;
  margin-top:10px;
}

a:hover{
  color:#60a5fa;
}